* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(210, 162, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px); 
}

form label {
    margin-bottom: 5px;
    color: #555;
}

form button {
    padding: 10px;
    background-color: #b0d393;
    color: rgb(169, 107, 228);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #d0f7b1;
}

#task-counter {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

ul li:hover {
    background-color: #f8f9fa;
}

ul li.completed {
    text-decoration: line-through;
    color: #888;
}
